@import "../bootstrap-sass-3.3.2/assets/stylesheets/bootstrap";


.align-center{
	
	text-align : center;
}

.border-bottom{
	
	border-bottom: 1px solid lightgray; 
}

.article{
	min-height: 200px;
	border : 1px solid lightgray;
	list-style: none;
	overflow: overlay;
}

.header-article{
  
  height: 40px;
  width: 100%;
  background-color: whitesmoke;
  font-size: 1.4em;
}

#img-article{
	
	width: 200px;
	margin-top: -30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn-group{
	
	display: table;
	margin-right: auto;
	margin-left: auto;
}

/*****CONNEXION.HTML*****/
#connecter{
	border: 1px solid #DDD;
	font-size: 18px;
	background-color: #FFF;
	font-weight: 5px;

}

/*****INDEX.PHP*****/

body,html,.row-offcanvas {
  height:100%;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  position:fixed;
  overflow-y:auto;
  overflow-x:hidden;
}

#main {
  height:100%;
  overflow:auto;
}

hr{
  border: 0;
  border-top: 1px solid #515151;
}

#pageNumbers{
  
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 1066px) {


 .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}



/*
 *
 *     Barre de navigation --------------------------------
 *
*/

#img-nav{
  
  margin-right: -12px;
  float: right;
  vertical-align: middle;
  margin-top: -7px;
}

h3{
  
  font-size:22px;
}



.margin-right{
  
  margin-right: 10px;
}

input .margin-left{
  
  margin-right: 10px;
}

#input-search{

    display:inline-block;
    width:78%;

}

#navbar-menu {
  z-index: 5;
  position: fixed;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  width: 100%;
  margin-bottom: 96px;
}